body, html {
  margin: 0;
  padding: 0;
}

.App {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

.canvas-container {
  display: inline-grid;
  max-height: 100vh;
  max-width: 100vw;
  height: auto;
  width: auto;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: auto 90vw auto;
}

a {
  color: #42374D;
  font-weight: 600;
}

a:hover {
  color: black;
}

h1 {
  color: #43374d;
  font-family: 'Raleway', serif;
  display: inline;
  font-size: 3vw;
  padding: 1.5vh 2vw;
  margin: 0;
  background-color: rgba(210, 213, 221, 0.7);
  border-color: Transparent;
  box-shadow: 0.2vw 0.2vw 0.4vw #888888;
  z-index: 10;
  border-radius: 10px;
}

header.canvas-title {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  width: 100%;
  margin: 2vh auto;
  z-index: 10;
  top: -.2vh;
}

.canvas-map {
  margin: 0;
  max-width: 90vw;
  max-height: 100vh;
  width: auto;
  height: auto;
  grid-column: 2/3;
  grid-row: 1/3;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.canvas-map #canvas {
  position: relative;
  top: 0px;
  z-index: 1;
  max-width: 90vw;
  max-height: 100vh;
  height: auto;
}

.canvas-map #world-map {
  position: absolute;
  left: auto;
  top: 0px;
  z-index: 2;
  max-width: 90vw;
  max-height: 100vh;
  height: auto;
}

.canvas::after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
}

button {
  border: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  outline: none;
  padding: 0px 2px;
}

button i.material-icons:hover {
  color: #192b30;
}

button i.material-icons {
  color: #6F4A30;
  font-size: 3.5vw;
}

input[type="radio"] {
  width: 0px;
  position: fixed;
  opacity: 0;
}

input[type="submit"], input[type="text"], .hide {
    background-color: rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
    color: black;
    border: none;
    box-shadow: 0.1vw 0.1vw 0.2vw #888888;
    font-size: 1vw;
    padding: 0.5vw 1vw;
    margin: 0.4vw;
}

input[type="submit"]:focus, input[type="text"]:focus, .hide {
  outline-color: #888888;
}

input[type="submit"]:hover, .hide:hover {
    box-shadow: 0.2vw 0.2vw 0.4vw #888888;
}

.pin-input {
  position: fixed;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgba(210, 213, 221, 0.8);
  width: 15%;
  height: fit-content;
  margin: 2vw;
  padding: 1vw;
  border-color: Transparent;
  box-shadow: 0.2vw 0.2vw 0.4vw #888888;
  font-size: 1.2vw;
  border-radius: 10px;
  z-index: 11;
  align-self: end;
  right: 0;
  bottom: 0;
}

.canvas-info {
  position: absolute;
  top: 3vh;
  right: 0;
  background-color: rgba(210, 213, 221, 0.7);
  width: 15vw;
  height: fit-content;
  margin: 3vw;
  padding: 1vw;
  border-color: Transparent;
  box-shadow: 0.2vw 0.2vw 0.4vw #888888;
  z-index: 10;
  text-align: center;
  vertical-align: bottom;
  font-size: 1.2vw;
  border-radius: 10px;
}

.pin-container {
  grid-column: 2/3;
  grid-row: 2/2;
}


.pin-input label.color {
  display: inline-block;
  padding: .7%;
  font-size: 1vw;
  border: 0.5vw solid Transparent;
  border-radius: 50%;
  margin: 0.4vw 0.2vw;
  vertical-align: middle;
}

.pin-input input[type="radio"]:checked + label.color, .pin-input label.color:hover, .pin-input label[type="radio"].color:focus + span  {
  box-shadow: 0 0 0.2vw 0.2vw #696868;
}

button#canvas-info {
  max-width: 5vw;
  height: fit-content;
  display: inline-block;
  grid-column: 3/4;
  grid-row: 1/2;
  margin: 0 auto;
  z-index: 11;
}


button#pin-controls-toggle {
  max-width: 5vw;
  height: fit-content;
  display: inline-block;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0 auto;
  z-index: 11;
}

.pin-controls {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  grid-column: 1/2;
  grid-row: 1/3;
  margin: 0 auto;
  z-index: 11;
  align-self: end;
}

.pin {
  position: absolute;
  grid-column: 2/3;
  grid-row: 1/3;
  z-index: 100;
  display: inline-block;
  width: .5vw;
  height: .5vw;
  border: 0.1vw solid Transparent;
  border-radius: 50%;
  vertical-align: middle;
}

.hover-div .hover-div--on {
  display: none;
}

.hover-div:hover .hover-div--on {
  display: inline-block;
  background-color: rgba(210, 213, 221, 0.8);
  width: 15vw;
  height: fit-content;
  margin: 2vw;
  padding: 1vw;
  border-color: Transparent;
  box-shadow: 0.2vw 0.2vw 0.4vw #888888;
  font-size: 1.2vw;
  border-radius: 10px;
  z-index: 11;
}


@media screen and (max-height: 500px) {
  h1 {
     font-size: 8vh;
  }
}
