.App {
  background-image: url('./worldpin_canvas_background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

.canvas-container {
  text-align: center;
  height: inherit;
  width: inherit;
}

h1 {
  font-family: 'Raleway', serif;
  max-height: 5vh;
  display: inline;
}

header.canvas-title {
  font-size: 1.5vw;
  width: inherit;
  max-height: 5vh;
}

.canvas-map {
  margin: auto;
  height: 95vh;
  width: inherit;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
}
